<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/styles.css" />
    <title>Book Journey</title>
  </head>

  <body>
    <header class="p-3 bg-dark text-white">
      <section>
        <div>
          <div class="nav-bar">
            <p class="header-title">My Book Journey</p>
            <ul class="nav-list">
              <li><a href="/" class="nav-link">Home</a></li>
              <li><a href="/new" class="nav-link">Add New</a></li>
              <li><a href="/favs" class="nav-link">Favorites</a></li>
            </ul>
            <form class="search-bar" method="post" action="/search">
              <input
                type="search"
                class="search-bar"
                placeholder="Search..."
                aria-label="Search" name="bookSearch"
              />
            </form>
          </div>
        </div>
      </section>
    </header>
    <main>